<div class="box">
    <h1 class="form-signin-heading">
        Login 
    </h1>

    <form [formGroup]="theForm" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <input class="form-control " formControlName="username" required placeholder="Username/Email" />
        <input class="form-control " formControlName="password" required type="password" placeholder="password" />
        <br>
        <br>
        <button class="btn btn-primary" type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </form>
    <button class="btn btn-default pull-right"><a (click)="register()" style="cursor: pointer;">Create account</a></button>
</div>